.ageComponent-container {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/backgrounds/FondoAge.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texto-edad-image {
  max-width: 70%;
  margin-bottom: -10px;
}

.ageComponent-sub-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.ageComponent-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ageComponent-form label {
  margin-bottom: 10px;
}

.select-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.ageComponent-form select {
  padding: 5px;
  cursor: pointer;
}

.ageComponent-form button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 30px;

}

.ageComponent-result {
  margin-top: 20px;
}

.ageComponent-argAge {
  max-width: 15%;
  margin-top: 3rem;
}

@media (min-width: 1025px) {

  /* Cambia el fondo y ajusta los tamaños aquí */
  .ageComponent-container {
    background-image: url('../assets/backgrounds/FondoCompuAge.jpg');
    background-size: cover;
    background-position: center;
  }

  .texto-edad-image {
    max-width: 25%;
    margin-bottom: -20px;
  }

  .ageComponent-sub-container {
    padding: 35px;
    width: 25%;
  }

  .select-day {
    width: 150%;
    font-size: 25px;
  }

  .select-month {
    width: 150%;
    font-size: 25px;
  }

  .select-year {
    width: 150%;
    font-size: 25px;
  }

  .select-container {
    display: flex;
    gap: 30px;
  }

  .ageComponent-argAge {
    max-width: 4%;
  }

  .ageComponent-form button {
    margin-top: 10%;
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: rgb(165, 166, 168);
    color: white;
  }
}