/* Estilos generales */
.landComponent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Imagen para móviles y tabletas */
.mobile-tablet-img {
  display: block;
  max-width: 30%;
  height: auto;
  position: absolute;
  right: 1rem;
}

/* Imagen para pantallas grandes (PC) */
.desktop-img {
  display: none;
}

@media (max-width: 375px) and (max-height: 700px) {
  .mobile-tablet-img {
    max-width: 30%;
    top: 10%;
  }
}



/* Media queries para pantallas más grandes (PC) */
@media (min-width: 1025px) {

  .mobile-tablet-img {
    display: none;
  }

  .desktop-img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
  }
}