/* Estilos generales */
.landComponent {
  width: 100vw;
  height: 100vh;
  background: url('../assets/backgrounds/FondoLand.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Imagen para móviles y tabletas */
.mobile-tablet-img {
  display: block;
  max-width: 70%;
  height: auto;
}

/* Imagen para pantallas grandes (PC) */
.desktop-img {
  display: none;
}

/* Media queries para pantallas más grandes (PC) */
@media (min-width: 1025px) {
  .landComponent {
    background: url('../assets/backgrounds/FondoLandingCompu.jpg');
    /* Cambia el fondo para PC */
    background-size: cover;
    background-position: center;
  }

  .mobile-tablet-img {
    display: none;
  }

  .desktop-img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
  }
}