/* Estilos generales */
.menu {
  position: relative;
}

.menu button {
  position: fixed;
  top: 50%;
  left: -8%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  background-color: rgba(19, 27, 32, 0);
  z-index: 9999;
}

.showMenu {
  width: 100px;
  height: 130px;
  z-index: 9999;
}

/* Botón de retroceso para pantallas grandes */
.backMenu {
  width: 100px;
  height: 130px;
  z-index: 10000;
  position: fixed;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
}

/* Botón de retroceso para pantallas móviles */
.backMenuMob {
  width: 50px;
  height: 50px;
  z-index: 1000;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Estilos del menú */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  transform: translateX(-100%);
  transition: transform 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  overflow: hidden;
}

.menu-overlay.open {
  transform: translateX(0);
}

.menu-links {
  list-style: none;
  padding: 0;
  text-align: center;
  max-height: 80%;
  overflow-y: auto;
  width: 100%;
}

.menu-links li {
  margin: 20px 0;
}

.menu-links a {
  text-decoration: none;
  font-size: 1.5em;
  transition: font-size 0.3s ease, color 0.3s ease;
  display: block;
}

.menu-links a:hover {
  font-size: 1.65em;
  color: white;
}

.menu-image {
  width: 20rem;
  height: 2.6rem;
  transition: filter 0.3s ease;
  padding: 0.4rem;
}

.menu-image.special {
  height: 5.5rem;
}

.menu-overlay.open .menu-links a:hover .menu-image,
.menu-overlay.open .menu-links a:focus .menu-image {
  filter: brightness(1.5);
}

/* Media Queries for larger screens (web) */
@media (min-width: 1025px) {

  /* Ajustar la posición del botón en pantallas grandes */
  .menu button {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .menu-overlay {
    background: rgba(0, 0, 0, 0.9);
  }

  .menu-links a {
    font-size: 1.60em;
  }

  .menu-image {
    width: 30rem;
    height: 4rem;
    padding: 0rem;
  }

  .menu-image.special {
    height: 8rem;
    padding: 0.6rem;
  }
}