.pay-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../assets/backgrounds/FondoShop.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow: visible;
  justify-content: flex-start;
}

.pay-back-button {
  position: absolute;
  top: -1rem;
  right: -1rem;
  max-width: 4rem;
  cursor: pointer;
}

.pay-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 4rem;
}

.pay-form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  width: 100%;
}

.pay-input,
.pay-input-complete,
.pay-input-complete-opcional {
  background-color: rgb(165, 166, 168) !important;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin: 0.3em;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  transition: background-color 0s;
}

.pay-input {
  width: 48%;
}

.pay-input-complete,
.pay-input-complete-opcional {
  width: 100%;
}

/* Estilo para placeholders */
.pay-input::placeholder,
.pay-input-complete::placeholder,
.pay-input-complete-opcional::placeholder {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.pay-input-complete-opcional::placeholder {
  font-size: 0.7rem;
}

/* Evita cambio de color por autofill en móviles y PC */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(165, 166, 168) inset !important;
  -webkit-text-fill-color: white !important;
}

/* Estilo para inputs con errores */
.invalid-placeholder::placeholder {
  color: red;
}

.toggle-container {
  display: flex;
  justify-content: center;
  width: 50%;
  position: relative;
}

.toggle-button {
  background-color: rgb(165, 166, 168);
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin: 0.3em;
  width: 100%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.toggle-button.active {
  background-color: rgba(100, 100, 100, 1);
  z-index: 2;
}

.toggle-button:first-child {
  margin-right: -4%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.toggle-button:last-child {
  margin-left: -4%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pay-submit-button-container {
  width: 100%;
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.pay-submit-button {
  max-width: 12rem;
  cursor: pointer;
}

/* Pop-up de error */
.ups-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.ups-popup-content {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ups-popup-content p {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.ups-popup-content button {
  background-color: rgb(165, 166, 168);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.ups-popup-content button:hover {
  background-color: #cc0000;
}

/* Media queries para asegurar responsividad en pantallas más pequeñas */
@media (max-width: 480px) {
  .pay-container {
    padding: 15px;
  }

  .pay-back-button {
    max-width: 3rem;
  }

  .pay-input,
  .pay-input-complete,
  .pay-input-complete-opcional {
    font-size: 0.9rem;
    padding: 8px;
  }

  .pay-input-complete-opcional::placeholder {
    font-size: 0.6rem;
  }

  .toggle-button {
    padding: 8px;
    font-size: 0.8rem;
  }

  .pay-submit-button {
    max-width: 10rem;
  }
}

@media (max-width: 360px) {
  .pay-form-row {
    flex-direction: column;
    align-items: center;
  }

  .pay-input {
    width: 100%;
  }

  .toggle-container {
    width: 100%;
  }
}