/* Estilos generales */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  height: auto;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.shop-container {
  background: url('../assets/backgrounds/FondoShop.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.shop-sub-container {
  background: rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  min-height: 90vh;
  width: 88vw;
  max-width: 400px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
  overflow: hidden;
  position: relative;
}

.shop-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 10000;
}

.shop-logo {
  max-width: 25vw;
  margin-left: 1.5rem;
  transform: translateY(-20%);
}

.shop-back-button {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  max-width: 3rem;
  cursor: pointer;
  z-index: 10000;
}

.shop-main {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}

/* Contenedor para la botella y el batch */
.bottle-batch-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: -9rem;
  position: relative;
  width: 100%;
}

.shop-bottle {
  width: 45vw;
  max-width: 70vw;
  margin-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.shop-batch-number {
  width: 30%;
  max-width: 80px;
  position: absolute;
  bottom: 2rem;
  right: 1.8rem;
}

.shop-product-description {
  z-index: 10000;
  width: 100%;
  position: relative;
  top: -1rem;
  margin: 1.5rem auto;
}

.shop-price {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  margin-top: -3.5rem;
}

.shop-quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
}

.shop-quantity-control img {
  max-width: 3rem;
}

.shop-quantity-control p {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  margin: 0 0.5rem;
}

.shop-addTocart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-top: -1rem;
  position: relative;
}

.shop-add-to-cart {
  align-self: center;
  max-width: 12rem;
}

.shop-cart-icon {
  max-width: 3.7rem;
  position: absolute;
  right: 3rem;
}

.blur-background {
  filter: blur(8px);
  pointer-events: none;
}

@media (max-width: 375px) {
  .bottle-batch-container {
    margin-top: -8rem;
  }

  .shop-bottle {
    width: 45vw;
  }

  .shop-batch-number {
    right: 1rem;
    width: 30%;
  }

  .shop-product-description {
    margin: 1rem auto;
  }

  .shop-price {
    font-size: 0.9em;
    margin-top: -3rem
  }

  .shop-quantity-control img {
    max-width: 2.5rem;
  }

  .shop-quantity-control p {
    font-size: 0.9rem;
  }

  .shop-cart-icon {
    right: 2rem;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .shop-bottle {
    width: 45vw;
  }
}

@media (min-width: 769px) {
  .shop-bottle {
    width: 35vw;
  }

  .shop-batch-number {
    width: 20%;
  }

  .shop-product-description {
    width: 70%;
  }

  .shop-addTocart-container {
    width: 80%;
  }
}


@media (min-width: 1025px) {
  .shop-container {
    max-height: 100vh;
  }

  .shop-sub-container {
    max-height: 90vh;
  }
}