@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilos generales */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  height: auto;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.shop-container {
  background-color: rgb(240, 248, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.shop-sub-container {
  background: rgb(236, 236, 236);
  height: 94vh;
  width: 88vw;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-top: 1rem;
}

.shop-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  z-index: 20;
  top: 0;
  left: 0;
}

.shop-logo {
  max-width: 120px;
  margin-left: 1rem;
  position: relative;
}

.shop-back-button {
  max-width: 3rem;
  cursor: pointer;
  position: relative;
  margin-right: 1rem;
}

.shop-main {
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.shop-bottle {
  max-width: 13rem;
  position: absolute;
  top: -10rem;
  z-index: 10;
  margin: 0;
}

.shop-batch-number {
  max-width: 100px;
  margin: 10px 0;
  position: absolute;
  right: 0px;
  top: 18rem;
}

.shop-product-description {
  max-width: 95%;
  margin: 10px 0;
  position: absolute;
  top: 22rem;
}

.shop-price {
  text-align: center;
  font-size: 1.3em;
  margin: 25px 0;
  position: absolute;
  top: 27rem;
}

.shop-quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  position: absolute;
  top: 32rem;
}

.shop-quantity-control img {
  max-width: 4rem;
}

.shop-quantity-control p {
  font-size: 24px;
}

.shop-add-to-cart {
  max-width: 200px;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  top: 36rem;
}

.shop-cart-icon {
  max-width: 4rem;
  cursor: pointer;
  position: absolute;
  top: 37rem;
  right: 20px;
}