@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilos generales */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  height: auto;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.shop-container {
  background: url('../assets/backgrounds/FondoShop.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.shop-sub-container {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  min-height: 94vh;
  width: 88vw;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
}

.shop-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 20;
}

.shop-logo {
  max-width: 30vw;
  margin-left: 1rem;
}

.shop-back-button {
  max-width: 3rem;
  cursor: pointer;
  margin-right: 1rem;
}

.shop-main {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.shop-bottle {
  width: 56vw;
  max-width: 80vw;
  position: absolute;
  top: -0.5rem;
  z-index: 10;
  margin: 0px;
}

.shop-batch-number {
  max-width: 24vw;
  position: relative;
  left: 8rem;
  top: 22rem;
}

.shop-product-description {
  width: 85vw;
  margin: 2rem;
  position: relative;
  top: 22rem;
}

.shop-price {
  text-align: center;
  font-size: clamp(1em, 2.5vw, 1.5em);
  color: white;
  position: relative;
  top: 18rem;
  font-weight: bold;
  margin-top: 1rem;
}

.shop-quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 16rem;
  margin-top: 1rem;
}

.shop-quantity-control img {
  max-width: 3.5rem;
}

.shop-quantity-control p {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.shop-addTocart-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  top: 15rem;
}

.shop-add-to-cart {
  max-width: 12rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.shop-cart-icon {
  max-width: 3.8rem;
}

/* Desenfoque aplicado solo a shop-sub-container */
.blur-background {
  filter: blur(8px);
  pointer-events: none;
  /* Desactiva la interacción con el fondo */
}



/* Media queries para pantallas pequeñas */
/* celulares mas chicos tipo el SE */
@media (max-width: 375px) and (max-height: 670px) {
  .shop-bottle {
    width: 45vw;
  }

  .shop-batch-number {
    top: 15rem;
    left: 7rem;
  }

  .shop-quantity-control {
    top: 8rem;
  }

  .shop-price {
    top: 10.5rem;
  }

  .shop-addTocart-container {
    top: 7rem;
  }

  .shop-product-description {
    top: 15rem;
  }
}

/* Media queries para pantallas gruesas y cortas */

@media (min-width: 392px) {

  .shop-batch-number {
    top: 20rem;
  }

  .shop-bottle {
    width: 52vw;
  }

  .shop-product-description {
    top: 22rem;
  }
}

/* Media queries para pantallas grandes iphone pro max y plus */


@media only screen and (min-device-width: 391px) and (max-device-width: 430px) and (min-device-height: 844px) and (max-device-height: 926px) {}