/* Estilo para evitar el scroll en la pantalla */
body,
html {
  overflow: hidden;
  margin: 0;
}

/* Contenedor general para la página de éxito */
.success-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../assets/backgrounds/FondoCompraExitosa.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen grande en el centro */
.success-image-middle {
  position: absolute;
  bottom: 15rem;
  max-width: 70%;
  height: auto;
  z-index: 1;
}

/* Imagen en la esquina inferior derecha */
.success-image-bottom-right {
  position: absolute;
  bottom: 6rem;
  max-width: 12rem;
  height: auto;
  z-index: 2;
}

/* Estilos del pop-up (adaptado desde el carrito) */
.ups-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  /* Fondo semi-transparente */
}

.ups-popup-content {
  background-color: rgba(255, 255, 255, 0.8);
  /* Fondo blanco semi-transparente */
  border-radius: 50px;
  /* Bordes redondeados */
  padding: 20px;
  width: 80%;
  max-width: 400px;
  /* Ancho máximo */
  height: auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ups-popup-content p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.ups-popup-content button {
  background-color: rgb(165, 166, 168);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.ups-popup-content button:hover {
  background-color: #cc0000;
  /* Color de hover */
}

/* Adaptaciones para pantallas pequeñas */
@media (max-width: 375px) {
  .ups-popup-content {
    padding: 15px;
    max-width: 90%;
  }

  .ups-popup-content p {
    font-size: 1rem;
  }
}