.background-video-container {
  position: relative;
  width: 100vw;
  height: 200vh;
  /* Ocupa todo el alto del viewport */
  overflow: hidden;
  z-index: 0;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  /* Ocupa todo el alto del viewport */
  object-fit: cover;
  z-index: -1;
}